@model IEnumerable<First_project.Models.Aboutu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AboutusImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutusContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AboutusImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Header)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutusContent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AboutUs">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AboutUs">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AboutUs">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
