@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Category> categories = ViewBag.categories;
    Homepage homePage = ViewBag.HomePageManagement;
    List<Testimonial> testimonial = ViewBag.testimonials;
}

<!--hero image-->
<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull d-none d-sm-block"
         style="background-image: url('@Url.Content("~/images/"+homePage.BackgroundImagePath)'); height: 600px; background-size: cover; background-position: center;">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                <h2 class="display-3 fw-bold mb-3">@homePage.SliderHeader</h2>
                <p>
                    @homePage.SliderParagraph
                </p>
            </div>
        </div>
    </div>
</section>
<!--hero image-->

<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <div class="box justify-content-around">
                        <div class="img-box">
                            <img src="~/Home/images/chef.jpg" alt="">
                        </div>
                        <div class="detail-box ">
                            <h5>
                                Our best Chefs
                            </h5>
  
                            <a class="my-3" 
                            asp-action="AllChefsRecipes">
                                GO
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  ">
                    <div class="box justify-content-around">
                        <div class="img-box">
                            <img src="~/Home/images/o2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Our Recipes
                            </h5>
                            <a class="my-3" asp-action="Recipes">
                                GO
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end offer section -->
<!-- food section -->

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our food type
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>

        </ul>

        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in categories)
                {

                    <div class="col-sm-10 col-lg-4 all pizza  my-sm-2">
                        <div class="box">
                            <div>
                                <div class="img-box d-flex justify-content-center align-items-center">
                                    <img src=@Url.Content("~/images/"+@item.CategoryImagePath)
                                     asp-append-version="true"
                                         class="img-fluid" style="height: 200px;  width:150px">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        @item.CategoryName
                                    </h5>
                                    <a asp-controller="Home" asp-action="GetAllRecipesByCategory"
                                   asp-route-id="@item.CategoryId"
                                       style="color: #ffbe33;">
                                        All @item.CategoryName Recipes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }               
            </div>
        </div>

    </div>
</section>

<!-- end food section -->
<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What Says Our Customers
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                @foreach (var item in testimonial)
                {
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>
                                       @item.TestimonialContent         
                                </p>
                                <h6>
                                    @item.User.UserName
                                </h6>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<!-- end client section -->